*{
    margin:0;
    padding:0;
}

body {
  opacity: 1;
  transition: 4s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

section{
    width:100%;
    height:100%;
    float:left;
}

.load section {
  opacity: 1;
}

#about{
    background-color: #5EA1FF;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#projects{
    background:#5ac458;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

#resume{
    background:#c055db;
    height: 100%;
    position: absolute;
    top: 200%;
    left: 0;
    width: 100%;
}

#contact{
    background:#ad82ff;
    height: 100%;
    position: absolute;
    top: 300%;
    left: 0;
    width: 100%;
}


nav{
    display:inline-block;
    width:100%;
    position:fixed;
    z-index:1;
    top:30px;
    text-align: right;
    font-size: 1vw;
}

ul{
    display:inline-block;
    margin-right:30px;
    width:fit-content;
    list-style:none;
}

ul li{
    display:inline-block;
    margin-right:30px;
}

ul li a{
    color:#fff;
    text-decoration:none;
    opacity: .6;
}

ul li:hover > a{
    color:#000000;
    text-decoration:underline;
    opacity: 1;
}

h1{
    color:#fff;
    text-align: center;
    margin-top:80px; font-size: 3vw;
    font-family: "Courier New", Courier, monospace;
}
h2{
    color:#fff;
    text-align: center;
    font-size: 2vw;
}

#profilePic {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* The following section is dedicated to animations */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    /* make things invisible upon start */
	opacity:0;

    /*
    call our keyframe named fadeIn,
    use animattion ease-in and repeat it only 1 time
    */
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

    /*
    this makes sure that after animation is done
    we remain at the last keyframe value (opacity: 1)
    */
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:.7s;
	-moz-animation-duration:.7s;
	animation-duration:.7s;
}

/* Scale website */
