* {
    margin:0;
    padding:0;
}

body {
  opacity: 1;
  transition: 4s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

section {
    background-color: #c7d8d8;
    min-height: 100vh;
    position: relative;
    width:100%;
    height:100%;
    float:left;
}

.load section {
  opacity: 1;
}

nav {
    display:inline-block;
    width:100%;
    position:fixed;
    z-index:1;
    top:30px;
    text-align: right;
    font-size: 1vw;
    font-family: 'Roboto';
}

ul {
    display:inline-block;
    margin-right:30px;
    width:fit-content;
    list-style:none;
}

ul li {
    display:inline-block;
    margin-right:30px;
}

ul li a {
    color:#393d3d;
    text-decoration:none;
    opacity: .9;
}

ul li:hover > a {
    color:#008B8B;
    text-decoration:underline;
    opacity: 1;
}

h1 {
    color:#393d3d;
    text-align: center;
    margin-top:80px;
    font-size: 4vw;
    font-family: "Roboto";
}
h2 {
    color:#fff;
    text-align: center;
    font-size: 2vw;
}

/* images */
.picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.contactIcon {
    display: inline-block;
    width: 3%;
}

#icons{
    text-align: center;
    padding-top: 30%;
}

/* The following section is dedicated to animations */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    /* make things invisible upon start */
	opacity:0;

    /*
    call our keyframe named fadeIn,
    use animattion ease-in and repeat it only 1 time
    */
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

    /*
    this makes sure that after animation is done
    we remain at the last keyframe value (opacity: 1)
    */
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:.7s;
	-moz-animation-duration:.7s;
	animation-duration:.7s;
}

/* Scale website */

/* Change highlight text */
/*** Works on common browsers ***/
::selection {
    background-color: #352e7e;
    color: #008B8B;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #352e7e;
    color: #008B8B;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #352e7e;
    color: #008B8B;
}

::-ms-selection {
    background-color: #352e7e;
    color: #008B8B;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #352e7e;
    color: #008B8B;
}
